secrets.yaml*
alpha.yaml
beta.yaml
gamma.yaml
delta.yaml
controlplane.yaml
controlplane-premachine.yaml
controlplane-precluster.yaml
omega.yaml
psi.yaml
chi.yaml
worker.yaml
worker-premachine.yaml
worker-precluster.yaml
nut.*.yaml
cilium.yaml